.shell{
	margin-left: 0px;
	text-align: left;
	text-valign: center;
	vertical-align: top;
}

 .hidden {
   display: none;
 }

  #opaco {
     background-color: #000000;
     left: 0;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE8 */
     filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 70); /* IE5+ */
     filter: alpha(opacity=70);/* IE4- */
     moz-opacity: 0; /* Mozilla */
     -khtml-opacity: 0; /* Safari */
     opacity: 0;  /* general CSS3 */
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 10;

   }

  #popup {
     background-color: #FFFFFF;
     position: fixed;
     /*width:300px;*/
     left:50%;
     top:50%;
     /*align: center;*/
    
     min-width: 300px;
     z-index: 11;

  }

  #popup h3 {
    margin-bottom: 10px;
  }

  #popup textarea {
    display: block;
    width: auto;
    margin-bottom: 10px;
  }

  #popup p {
    margin: 10px;
    line-height: 1.3em;
    font-size: 1.1em;
    color: #444444;
  }

  #popup .close-btn {
    margin: 10px;
  }

body {
	padding: 20px 10px 20px 20px;
}

.square {
	width: 180px;
	height: 160px;
	float: left;
	margin: 10px;
	padding: 10px 20px;
	color: #000;
	background: #fff;
	font-family: Helvetica, Arial, Sans-Serif;
}

#edit{
    width:36px;
    height:24px;
    font:8pt arial black, Helvetica, serif;
}

#del{
    width:36px;
    height:24px;
    font:8pt arial black, Helvetica, serif;
}

#add{
    width:52px;
    height:24px;
    font:13pt arial black, Helvetica, serif;
}

.tableClass{
	width:70%;
}